<h1><%= @user.merchant.name %></h1>
<center>
  <p><%= @user.merchant.address %></p>
  <p><%= "#{@user.merchant.city}, #{@user.merchant.state} #{@user.merchant.zip}" %></p>
  <p><%= link_to "My Items", "/merchant/items" %></p>
  <hr>
  <h2>Merchant Orders</h2>
</center>
<br>
<section class = "grid-container">
<% @user.merchant.pending_orders.each do |order| %>
  <section class= "grid-item", id= "order-<%= order.id %>">
    <%= link_to "Order Id: #{order.id}", "/merchant/orders/#{order.id}" %>
    <p><%= order.created_at %></p>
    <p>Total Quantity: <%= @user.merchant.merch_item_count(order) %></p>
    <p>Total Value: <%= number_to_currency(@user.merchant.merch_total_value(order)) %></p>
  </section>
<% end  %>
</section>

<section class = "Statistics">
  <p>Top 5 Items</p>
    <p><%= items.top_items  %></p>
    <p><%= quantites %></p>
  <p>Top 3 States</p>
    <p> <%= items.top_states %></p>
    <p><%= quantites %></p>
  <p>Top 3 Cities</p>
    <p> <%= items.top_cities %></p>
    <p><%= quantites %></p>
  <p>List of items with average rating of 4 or more</p>
    <p><%=  %></p>
  <p>Top 3 Users</p>
    <p><%=  %></p>
</section>
