<h1>Edit Your Information</h1>

<% if params[:type] == "profile" %>
  <%= form_tag "/profile", method: :patch do %>
    <%= label_tag "Name" %>
    <%= text_field_tag :name, @user.name %>
    <%= label_tag "Street Address" %>
    <%= text_field_tag :street_address, @user.street_address %>
    <%= label_tag "City" %>
    <%= text_field_tag :city, @user.city %>
    <%= label_tag "State" %>
    <%= text_field_tag :state, @user.state %>
    <%= label_tag "Zip" %>
    <%= text_field_tag :zip, @user.zip %>
    <%= label_tag "Email" %>
    <%= email_field_tag :email, @user.email %>
    <%= submit_tag 'Update Information' %>
  <% end %>
<% else %>
  <%= form_tag "/profile", method: :patch do %>
    <%= label_tag "New Password" %>
    <%= text_field_tag :password %>
    <%= label_tag "New Password Confirmation" %>
    <%= text_field_tag :password_confirmation %>
    <%= submit_tag 'Submit' %>
  <% end %>
<% end  %>
