<h1>My Items</h1>
<%= link_to 'Add New Item', '/merchant/items/new' %>

<% @items.each do |item| %>
  <section id="item-<%= item.id %>">
    <h3><%= item.name %></h3>
    <p><%= item.description %></p>
    <%= image_tag(item.image) %>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Inventory: <%= item.inventory %></p>
    <% if item.no_orders? %>
      <p><%= button_to "Delete", "/merchant/items/#{item.id}", method: :delete %></p>
    <% end %>
    <% if item.active? %>
      <p>Active</p>
      <%= button_to "Deactivate", "/merchant/items/#{item.id}/deactivate", method: :patch %>
    <% elsif !item.active? %>
      <p>Inactive</p>
      <%= button_to "Activate", "/merchant/items/#{item.id}/activate", method: :patch %>
    <% end %>
  </section>
<% end %>
